# Node
node_modules/

# Build
/dist/
/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# Misc
uploads/

# Coverage
coverage/

# Others
*.bak
*.tmp

# Optional: ignore frontend and admin build outputs
frontend/dist/
admin/dist/
